
<div class="container">
    

    
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <div class="aboutus-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="aboutus mt-5">
                        <div class="jumbotron-fluid">
                            <h2>
                                Know Who We are
                            </h2>
                        </div>

                        <p class="aboutus-text text-md-left">
                            Welcome to AbimMall, your number one source for all things [product].
                            We're dedicated to giving you the very best of products, with a focus on goods delivery, stock control, and many more.
                        </p>
                        <p class="aboutus-text">
                            Founded in 2021 by Madam Abimbola, AbimMall has come a long way from its beginnings in the heart of Lagos state, Nigeria.
                            When Abimbola first started out, her passion for product driven drove them to quit day job, do tons of research, etc. so that AbimMall can offer you "the world's most advanced products".
                            We now serve customers all over Nigeria and oversea, and are thrilled that we're able to turn our passion into our own website.
                        </p>
                        <p>
                            We hope you enjoy [my/our] products as much as [I/we] enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact [me/us].
                        </p>
                        <a class="aboutus-more" href="#">read more</a>
                    </div>
                </div>

                <div class="col-md-5 col-sm-6 col-xs-12 mt-5">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Work with heart</h4>
                                    <p>Our product is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>We don't want to push our ideas on to customers, we simply want to make what they want.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>Encourage, lift, and strengthen one another. For the positive energy spread to one will be felt by us all. For we are connected, one and all.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





















</div>